{% extends "base.html.twig" %}

{% block title %}Submit new pizzeria{% endblock %}
{% block metaDescription %}
    Submit new pizza place and pizzas to choose from.
{% endblock %}
{% block metaKeywords %}
    random.pizza, form, submit new place
{% endblock %}

{% block scripts %}<script type="text/javascript" src="{{ asset('js/app/home.js') }}"></script>{% endblock %}

{% block controller %}form{% endblock %}

{% block content %}

    <div class="row clearfix">
        <div class="col-md-6 col-md-offset-3 column">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Company information</legend>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="country">Country</label>
                        <div class="col-md-6">
                            <select id="country" name="country" class="form-control">
                                <option value="">select</option>
                                <option value="lt">Lithuania</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="city">City</label>
                        <div class="col-md-6" id="city-ctr">
                            <select id="city" name="city" class="form-control" disabled>
                                <option value="">select</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="restaurant">Company name</label>
                        <div class="col-md-6" id="restaurant-ctr">
                            <input id="restaurant" name="restaurant" class="form-control">
                        </div>
                    </div>

                    <legend>Pizzas</legend>

                    <div class="form-group">

                        <div class="col-md-6"><label class="control-label">Pizza</label></div>
                        <div class="col-md-6"><label class="control-label">Flavors</label></div>

                        <div class="form-group">

                            <div class="col-md-6">
                                <input id="pizza_1" name="pizza_1" type="text" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <label class="checkbox-inline" for="meat_1">
                                    <input name="meat_1" id="meat_1" type="checkbox">
                                    Meaty
                                </label>

                                <label class="checkbox-inline" for="vegetarian_1">
                                    <input name="vegetarian_1" id="vegetarian_1" type="checkbox">
                                    Veggy
                                </label>

                                <label class="checkbox-inline" for="fish_1">
                                    <input name="fish_1" id="fish_1" type="checkbox">
                                    Fishy
                                </label>

                                <label class="checkbox-inline" for="hot_1">
                                    <input name="hot_1" id="hot_1" type="checkbox">
                                    Hot!
                                </label>
                            </div>
                        </div>

                    </div>

                    <div class="alert alert-danger hidden" role="alert">
                        <div class="text-center">
                            <span class="message"></span>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-2 col-md-offset-5 column generate-ctr">
            <button id="submit" type="button" class="btn btn-lg btn-block btn-success" disabled>Submit</button>
        </div>
    </div>


{% endblock %}