{% extends "base.html.twig" %}

{% block title %}Submit new pizzeria{% endblock %}
{% block metaDescription %}
    Submit new pizza place and pizzas to choose from.
{% endblock %}
{% block metaKeywords %}
    random.pizza, form, submit new place
{% endblock %}

{% block scripts %}<script type="text/javascript" src="{{ asset('js/app/form.js') }}"></script>{% endblock %}

{% block controller %}form{% endblock %}

{% block content %}

    <div class="row clearfix">
        <div class="col-md-8 col-md-offset-2 column">
            <form class="form-horizontal" id="restaurant-form" method="POST">
                <fieldset>
                    <legend>Pizzeria</legend>

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="country">Country</label>
                        <div class="col-md-6">
                            <select id="country" name="country" class="form-control">
                                <option value="">select</option>
                                <option value="lt">Lithuania</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="city">City</label>
                        <div class="col-md-6" id="city-ctr">
                            <select id="city" name="city" class="form-control" disabled multiple="multiple">
                                <option value="">select</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="restaurant">Company name</label>
                        <div class="col-md-6" id="restaurant-ctr">
                            <input id="restaurant" name="restaurant" class="form-control">
                        </div>
                    </div>

                    <legend>Menu</legend>

                    <div class="form-group">

                        <div class="col-md-7"><label class="control-label">Pizza</label></div>
                        <div class="col-md-5"><label class="control-label">Flavors</label></div>

                        <div id="pizza-ctr" class="pizza-ctr">

                            {% include 'Form/more_pizzas.html.twig' with {'start': 1, 'stop': 10} only %}

                        </div>

                    </div>

                    <div class="alert alert-danger hidden" role="alert">
                        <div class="text-center">
                            <span class="message"></span>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-3 col-md-offset-3 column generate-ctr">
            <button id="add" type="button" class="btn btn-lg btn-block btn-primary">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                more pizzas
            </button>
        </div>
        <div class="col-md-3 column generate-ctr">
            <button id="submit" type="submit" class="btn btn-lg btn-block btn-success">Submit</button>
        </div>

    </div>


{% endblock %}