{% extends "AppBundle::base.html.twig" %}

{% block title %}Submit new pizzeria{% endblock %}
{% block metaDescription %}
    Submit new pizza place and pizzas to choose from.
{% endblock %}
{% block metaKeywords %}
    random.pizza, form, submit new place
{% endblock %}

{% block scripts %}
    {% javascripts
        '@AppBundle/Resources/public/js/common.js'
        '@AppBundle/Resources/public/js/form.js' output='js/compiled/form.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block controller %}form{% endblock %}

{% block content %}

    <div class="row clearfix">
        <div class="col-md-8 col-md-offset-2 column">
            <form class="form-horizontal" id="restaurant-form" method="POST">
                {% for restaurant in app.session.flashbag.get('saved') %}
                    <div class="alert alert-success" role="alert">
                        <div class="text-center">
                            <span class="message">New pizzeria: <strong>{{ restaurant }}</strong> saved successfully!</span>
                        </div>
                    </div>
                {% endfor %}

                <fieldset>
                    <legend>Pizzeria</legend>

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="country">Country</label>
                        <div class="col-md-6">
                            <select id="country" name="country" class="form-control">
                                <option value="">select</option>
                                <option value="">select</option>
                                <option value="dk">Denmark</option>
                                <option value="ee">Estonia</option>
                                <option value="fi">Finland</option>
                                <option value="fr">France</option>
                                <option value="de">Germany</option>
                                <option value="ie">Ireland</option>
                                <option value="de">Italy</option>
                                <option value="lv">Latvia</option>
                                <option value="lt">Lithuania</option>
                                <option value="lt">Norway</option>
                                <option value="pl">Poland</option>
                                <option value="pl">Portugal</option>
                                <option value="es">Spain</option>
                                <option value="se">Sweden</option>
                                <option value="se">United Kingdom</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="city">City</label>
                        <div class="col-md-6" id="city-ctr">
                            <select id="city" name="city" class="form-control" disabled multiple="multiple">
                                <option value="">select</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="restaurant">Company name</label>
                        <div class="col-md-6" id="restaurant-ctr">
                            <input id="restaurant" name="restaurant" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="url">URL</label>
                        <div class="col-md-6" id="url-ctr">
                            <input id="url" name="url" class="form-control">
                        </div>
                    </div>

                    <legend>Menu</legend>

                    <div class="form-group">

                        <div class="col-md-7"><label class="control-label">Pizza</label></div>
                        <div class="col-md-5"><label class="control-label">Flavors</label></div>

                        <div id="pizza-ctr" class="pizza-ctr">

                            {% include 'AppBundle:Form:more_pizzas.html.twig' with {'start': 1, 'stop': 10} only %}

                        </div>

                    </div>

                </fieldset>
            </form>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-3 col-md-offset-3 column generate-ctr">
            <button id="add" type="button" class="btn btn-lg btn-block btn-primary">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                more pizzas
            </button>
        </div>
        <div class="col-md-3 column generate-ctr">
            <button id="submit" type="submit" class="btn btn-lg btn-block btn-success">Submit</button>
        </div>

    </div>


{% endblock %}