<select id="restaurant" name="restaurant" class="form-control">

    {% if list|length > 1 %}
        <option value="">select</option>
        <option value="-1">-- Random! --</option>
    {%  endif %}

    {% for restaurant in list %}
        <option value="{{ restaurant.id }}">{{ restaurant.name }}</option>
    {% endfor %}

</select>

