body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
}
.row {
    margin: 20px 0 30px 0;
}
a.no-hover:hover {
    text-decoration: none;
    outline: none;
}
h1 {
    margin:-10px 0;
    font-size: 48px;
    color:#fea73e;
    font-family: 'Just Me Again Down Here', cursive;
}
span.dot {
    color:#333;
}
span.pizza {
    color:#dd392e;
}
legend {
    font-size: 18px;
}
.form-control {
    font-family: Arial, sans-serif;
}
#logo {
    width:64px;
    height:64px;
    position:relative;
    left:50%;
    margin-left:-32px;
}
.result-board {
    background-color: #111;
    background-image: url("/img/board.jpg");
    min-height: 150px;
    border:4px solid #47a447;
    font-family: 'Just Me Again Down Here', cursive;
    margin-top: 20px;
    color:#EEE;
}
.result-board ul {
    list-style: none;
}
.result-board li {
    font-size: 48px;
    margin-left: 20px;
}
.big-text {
    font-size: 80px;
    text-align: center;
}
.result-description {
    margin-top: 40px;
    padding-top: 5px;
    border-top: 1px solid #e5e5e5;
    padding-left: 0;
}
.result-share {
    margin-top: 40px;
    height:40px;
    padding: 0;
}
#share-url {
    margin-bottom: 20px;
}
.social {
    position:absolute;
    padding:0;
    left: 50%;
    margin-left:-77px;
}
.social li {
    list-style:none;
    display:block;
    width:32px;
    height: 32px;
    float:left;
    margin-right:16px;
}
.social a {
    display:block;
    width: 32px;
    height:32px;
}
.facebook {
    background-image: url("/img/facebook_32.png");
}
.twitter {
    background-image: url("/img/twitter_32.png");
}
.googleplus {
    background-image: url("/img/googleplus_32.png");
}
.enjoy {
    font-size: 48px;
    font-family: 'Just Me Again Down Here', cursive;
    color:#47a447;
}
.pizza-ctr {
    padding-top: 40px;
}
.pizza-ctr .row {
    margin:0;
}