<select id="city" name="city" class="form-control">
    <option value="">select</option>
    {% for city in list %}
        <option value="{{ city.id }}">{{ city.name }}</option>
    {% endfor %}
</select>
