{% extends "base.html.twig" %}

{% block controller %}home{% endblock %}

{% block content %}

    <div class="row clearfix">
        <div class="col-md-6 col-md-offset-3 column">
            <form class="form-horizontal">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Location</legend>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="country">Country</label>
                        <div class="col-md-6">
                            <select id="country" name="country" class="form-control">
                                <option value="">select</option>
                                <option value="LT">Lithuania</option>
                            </select>
                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="city">City</label>
                        <div class="col-md-6" id="city-ctr">
                            <select id="city" name="city" class="form-control" disabled>
                                <option value="">select</option>
                            </select>
                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="restaurant">Place</label>
                        <div class="col-md-6" id="restaurant-ctr">
                            <select id="restaurant" name="restaurant" class="form-control" disabled>
                                <option value="">select</option>
                            </select>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-6 col-md-offset-3 column">
            <form class="form-horizontal">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Settings</legend>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="qty">How many pizzas?</label>
                        <div class="col-md-6">
                            <select id="qty" name="qty" class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>

                    <!-- Multiple Checkboxes (inline) -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="options">Flavor</label>
                        <div class="col-md-8">
                            <label class="checkbox-inline" for="meaty">
                                <input name="meaty" id="meaty" type="checkbox" checked="checked">
                                Meaty
                            </label>

                            <label class="checkbox-inline" for="veggy">
                                <input name="veggy" id="veggy" type="checkbox" checked="checked">
                                Veggy
                            </label>

                            <label class="checkbox-inline" for="fishy">
                                <input name="fishy" id="fishy" type="checkbox" checked="checked">
                                Fishy
                            </label>

                            <label class="checkbox-inline" for="hot">
                                <input name="hot" id="hot" type="checkbox" checked="checked">
                                Hot!
                            </label>
                        </div>
                    </div>

                    <!-- Multiple Checkboxes (inline) -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="options">Options</label>
                        <div class="col-md-8">
                            <label class="checkbox-inline" for="no_duplicates">
                                <input name="options" id="no_duplicates" type="checkbox" checked="checked">
                                No duplicates
                            </label>

                        </div>
                    </div>

                </fieldset>
            </form>

        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-2 col-md-offset-5 column generate-ctr">
            <button id="generate" type="button" class="btn btn-disabled btn-lg btn-block" disabled>Generate!</button>
        </div>
    </div>


{% endblock %}